.img-fluid {    
    min-height: 100%;
    min-width: 100%;
    height: 620px;
    filter: brightness(50%);
}

.navbar {
    box-shadow: 0 1px 5px 1px #999;
}

.carousel-caption h1{
	text-align: left; margin-bottom:300px;
}

.btn-light{
	color: white;
	position: absolute;
	top: 150%;
	transform: translate(-50%, -50%);
	border: solid white 1px;
	background-color: transparent;
	width: 	170px;
	height: 170px;
}

.btn-light:hover{
	color: black;
	background-color: white;
}

.text-block {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 300%;
}

.divHighlights h4{
	color: white;
}